[2021-10-11 15:55] iamsamirzon opened #1 "Alpha Release Signature Format"
**Summary**
JWS format is being used for the Alpha release of the Notary V2. Any changes in signature format will be done in subsequent  releases leading up to the release candidate.
**Intended Outcome**
Agree on a format that is defined in the specification for use with the Alpha release of Notation CLI and Notation SDK
**Additional context**
This format may or may not end up being the final/firs

[2021-10-11 15:55] iamsamirzon opened #2 "Signature Payload Format"
**Summary**
The payload format for the finalized signature
**Intended Outcome**
**Additional context**
Descriptor+Annotation+Metadata; not fully agreed yet; the signature format PR should have some details on it as part of the alpha-1 release.

[2021-10-11 15:55] iamsamirzon opened #3 "Signature Manifest Format"
**Summary**
Signature Manifest format for the finalized signature
**Intended Outcome**
**Additional context **
e.g. What annotations will be there;

[2021-10-11 15:55] iamsamirzon opened #4 "Support for additional Signature Formats in the signature manifest"
**Summary**
Support for additional Signature Formats in the signature manifest
**Intended Outcome**
The specfication are written for extensibilty, whereby new signature formats can be added over time.
**Additional context**
Assume we do the final release of NotaryV2 with PKCS7 and then decide to support a new format; the old one should still be supported;

[2021-10-11 15:55] iamsamirzon opened #5 "Release Candidate Signature Format"
**Summary**
The final release candidate signature format. This may or may not be the same as the one in Alpha release
**Intended Outcome**
The specfication PR is merged
**Additional context**
(exploring PKCS7) Need to start now on this, to define spec; and then decide the incremental approach, and when to release it;

Link to the issue in the appropriate repository: https://github.com/notaryprojec

[2021-10-11 15:55] iamsamirzon opened #6 "[Spec] Signature Format Criteria"
**Summary**
This must be met by any signature format that Notary V2 will use; The Release candidate signature must meet this requirement
**Intended Outcome**
The specfication PR is merged
**Additional context**
It is likely that the Signature format used in the Alpha release will not meet all the criteria

[2021-10-11 15:55] iamsamirzon opened #7 "[User Story] - Support COSE as signing envelope"
**Summary**
As a user, I would like to see Notary v2 support [CBOR Object Signing and Encryption (COSE)](https://datatracker.ietf.org/doc/html/rfc8152) as signing envelope.

**Intended Outcome**
The essential [Signing and verification workflow](https://github.com/notaryproject/notaryproject/blob/main/signing-and-verification-workflow.md) should work for COSE as signing envelope

**Additional conte

[2021-10-11 15:55] iamsamirzon opened #8 "Certificate Expiry"
**Summary**
Define the standards for the Code signing certificate expiry
**Intended Outcome**
The specfication PR is merged
**Additional context**

[2021-10-11 15:55] iamsamirzon opened #9 "Signature expiry"
**Summary**
Define the standards for the Signature expiry
**Intended Outcome**
The specfication PR is merged
**Additional context**

[2021-10-11 15:55] iamsamirzon opened #10 "TSA Signature"
**Summary**
Define the standards for the Time Stamp Auhority Signature
**Intended Outcome**
The specfication PR is merged
**Additional context**
https://github.com/notaryproject/notation-go-lib/issues/13

[2021-10-11 15:55] iamsamirzon opened #11 "[Spec] Certificate revocation"
**Summary**
Define the standards for the Certificate Revocation
**Intended Outcome**
The specfication PR is merged
**Additional context**
Likely going to use OCSP and CRL

Implementation

- [x] https://github.com/notaryproject/notaryproject/issues/72

[2021-10-11 15:55] iamsamirzon opened #12 "Signature revocation"
**Summary**
Define the standards for the Signature Revocation
**Intended Outcome**
The specfication PR is merged
**Additional context**

[2021-10-11 15:55] iamsamirzon opened #13 "User defined signed metadata"
**Summary**
**Intended Outcome**
The specfication PR is merged
**Additional context**
This is a pre-requiste for Finalizing Signature Payload format, which is in alpha-3;

[2021-10-11 15:55] iamsamirzon opened #14 "Signing other artifacts"
**Summary**
**Intended Outcome**
The specfication PR is merged
**Additional context**
This is in baseline implementation for alpha release, but need to ensure standards are well defined;

[2021-10-11 15:55] iamsamirzon opened #15 "[User Story] - notation sign/verify Offline/Local artifacts"
As a user, I'd like to be able to sign and verify artifacts on my local machine so that [see Steve's comment](https://github.com/notaryproject/roadmap/issues/15#issuecomment-957015660).  This is also important for a good CI/CD workflow.

- [x] https://github.com/notaryproject/notation/issues/283
- [ ] https://github.com/notaryproject/notaryproject/issues/182
~~- [ ] https://github.com/notaryprojec

[2021-10-11 15:55] iamsamirzon opened #16 "Tag Signing"

[2021-10-11 15:55] iamsamirzon opened #17 "Basic Signature Verification Policy"
**Summary**
**Intended Outcome**
The specification PR is merged
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specification is well defined

Related link : https://github.com/notaryproject/notaryproject/pull/107

[2021-10-11 15:55] iamsamirzon opened #18 "Scoped Signature Verification Policy"
**Summary** The standard should allow to scope the signature verification to a narrower namespace of registry/repo
**Intended Outcome**
The specfication PR is merged
**Additional context**
Should support mixed images usecase - signed and unsigned images; and namespaces like : Registry/Repositry, or just Registry only; This reduces blast radius; Allows workloads to be configured to pull from differ

[2021-10-11 15:55] iamsamirzon opened #19 "Signature Verification process"
**Summary** Cover the Trust Store and Trust Policy usage
**Intended Outcome**
The specfication PR is merged
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specfication is well defined. Should support verifying any registry artifact like SBOM and vulnerebility scan results

[2021-10-11 15:55] iamsamirzon opened #20 "Matching signatures to trust policy"
**Summary** Define the specification for signatures matching to the trust policy
**Intended Outcome**
The specification PR is merged
**Additional context**
This will

[2021-10-11 15:55] iamsamirzon opened #21 "Verifying other artifacts"
**Summary**
Ensure other artifiacts besides Container images can be verified and is called out explictly in the specfications.
**Intended Outcome**
The specfication PR is merged
**Additional context**

[2021-10-11 15:55] iamsamirzon opened #22 "Multiple Signature Verification"
**Summary**
N out of M scenario; Or another way to ask Notation to verify which all identities signatures must be present.
**Intended Outcome**
The specification PR is merged
**Additional context**
This work is for N signatures out of M signatures scenarios; In the initial implementation as long as even 1 out of many signatures match, the artifact will be considered verified. This roadmap item is

[2021-10-11 15:55] iamsamirzon opened #23 "Notation GoLib Signing method/API"
**Summary**
**Intended Outcome**
The signing APIs are clearly defined and documented
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specification is well defined

[2021-10-11 15:55] iamsamirzon opened #24 "Notation GoLib Verify Method/APIs"
**Summary**
**Intended Outcome**
The verification APIs are clearly defined and documented
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specfication is well defined

[2021-10-11 15:55] iamsamirzon opened #25 "API Spec Documentation in Code."
**Summary**
**Intended Outcome**
The configuration APIs are clearly defined and documented
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specification is well defined. Review the code to ensure there is sufficient documentation.

[2021-10-11 15:55] iamsamirzon opened #26 "Signing plugin interface API Spec"
**Summary**
**Intended Outcome**
The APIs for setting up the signing provider are clearly defined and documented
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specification is well defined
Related to https://github.com/notaryproject/notaryproject/pull/124

Details for this specification captured in  https://hackmd.io/jhYbA4aNRFW7nmp7gPTIBA?view

[2021-10-11 15:55] iamsamirzon opened #27 "Verification Plugin interface API Spec"
**Summary**
**Intended Outcome**
The APIs for extensibility (such as for revocation checks) are clearly defined and documented
**Additional context**
This is in baseline implementation for alpha release, but need to ensure specification is well definedE.g. Fetch revocation status, or public key

[2021-10-11 15:55] iamsamirzon opened #28 "Signing API Implementation"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language
**Additional context**
Will be revised based on spec updates in next release; The first alpha release will have a version of it.; This is dependent on the "signature format" to be completed in alpha-3;

- [ ] https://github.com/notaryproject/notation-core-go/pull/17
- [x] https://github.com/notaryproject/notation/

[2021-10-11 15:55] iamsamirzon opened #29 "Verification API Implementation"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language
**Additional context**
Will be revised based on spec updates in next release; The first alpha release will have a version of it.; This is dependent on the "signature format" to be completed in alpha-3;

[2021-10-11 15:56] iamsamirzon opened #30 "Configuration API Implementation"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language
**Additional context**
Will be revised based on spec updates in next release; The first alpha release will have a version of it.; This is dependent on the "signature format" to be completed in alpha-3;

[2021-10-11 15:56] iamsamirzon opened #31 "[Impl] Signing plugin integration - Local on disk key/key-file signing"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language; Add optional password protection for keys stored on local storage
**Additional context**
Part of this was done as alpha-1. The remaining parts are - password protection and adding a certificate chain
We need a spec on what format(s) to support and, am implementation. For RC-1 we can use one format.

-------------

[2021-10-11 15:56] iamsamirzon opened #32 "Signing plugin integration - Remote Key Store Signing API Implementation"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language
**Additional context**
Interface to allow customers to hook up their remote or local HSM based key stores (KMS, YubiKeys)

This is related to the spec which is being tracked via https://github.com/notaryproject/roadmap/issues/26

[2021-10-11 15:56] iamsamirzon opened #33 "Signing plugin integration - Signing Service API Implementation"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language
**Additional context**
Interface to allow customers to hook up their cloud based signing services

[2021-10-11 15:56] iamsamirzon opened #34 "Build-Sign-Before-Push Workflow API Implementation"
**Summary**
**Intended Outcome**
The APIs are implemented in GO programming language
**Additional context**
The first Alpha release implementation relies on image already in registry; This item is to Sign before push; and then push image, signature, and tag up to the registry;

[2021-10-11 15:56] iamsamirzon opened #35 "Unit Test Case Automation for API"
**Summary**
Automated Test Cases to be executed before every release
**Intended Outcome**
A test suite is created over time and added itertively over the lifetime of this project development
**Additional context**

[2021-10-11 15:56] iamsamirzon opened #36 "CLI command specification"
**Summary**
User/Implementers Guide
**Intended Outcome**
There should be a specification to help implementers understand the architecture of the CLI engine for continuing to maintain and extend it.
**Additional context**
Linked Issue : https://github.com/notaryproject/notation/issues/88

[2021-10-11 15:56] iamsamirzon opened #37 "CLI Cmds for Configuration"
**Summary**
CLI cmmands for configuration of Notation CLI Client
**Intended Outcome**
The specfication PR is merged
**Additional context**
Includes configuring signing provider, trust store and trust policy

[2021-10-11 15:56] iamsamirzon opened #38 "[User Story] - notation trust store experience via Notation cli commands"
As a user, I want to configure trust store using the notation cli or configuration file(s) so that I can authenticate signed artifacts.

Original description:
**Summary**
**Intended Outcome**
The implementation matches with the specification.
**Additional context**
Will be revised based on spec updates in each alpha release. The first alpha release will have a baseline implementation that will con

[2021-10-11 15:56] iamsamirzon opened #39 "CLI Cmds for Verification Config management (CRUD Operations)"
**Summary**
**Intended Outcome**
The implementation matches with the specfication.
**Additional context**
Will be revised based on spec updates in each alpha release. The first alpha release will have a baseline implementation that will continue to get revised until we get to release candidate

[2021-10-11 15:56] iamsamirzon opened #40 "[User Story] - Notation Sign Experience"
**Summary**
 As a user signing with Notation CLI, I have  well defined command structure and implementation to sign. I can use Notation CLI to sign artifacts. The CLI command along with its "sub attributes" is well defined and documented.

**Intended Outcome**
The implementation matches the specification

**Additional context**

- [x] https://github.com/notaryproject/notation/issues/91
- [x] https

[2021-10-11 15:56] iamsamirzon opened #41 "[User Story] - notation verify - remote artifacts"
As a verifier, I want to verify remote artifact integrity with remote signatures using my local trust policy and store.

Note: verify with local key, verify remote artifacts.  Verify local artifacts out of scope RC-1.

Implementation items to complete story:
- [x] https://github.com/notaryproject/notation/issues/228
  - [x] https://github.com/notaryproject/notation/issues/216

[2021-10-11 15:56] iamsamirzon opened #42 "CLI Cmds for Offline/Local Signing & Verification"
**Summary**
**Intended Outcome**
The specfication PR is merged
**Additional context**
Current implementation relies on image already in registry; This item is to Sign before push; and then push image, signature, and tag up to the registry;

[2021-10-11 15:56] iamsamirzon opened #43 "CLI Local Storage Spec"
**Summary**
Define how Notation will work with local ( host) storage
**Intended Outcome**
Notation CLI implementations allows for this use case
The specfication PR is merged
**Additional context**
Will update based on finalized design/spec in prior version of alpha release
The implementation work is in https://github.com/notaryproject/roadmap/issues/46
Specification work will be in https://github.

[2021-10-11 15:56] iamsamirzon opened #44 "Local storage of Signing certificates"
**Summary**
The CLI will need access to a local storage
**Intended Outcome**
Notation CLI implementations allows for this use case
The specfication PR is merged
**Additional context**
Will update based on finalized design/spec in prior version of alpha release

[2021-10-11 15:56] iamsamirzon opened #45 "Implement Trust store and Trust Policy"
**Summary**
The user should have a way to configure the trust policy and trust store.
**Intended Outcome**
Notation CLI implementations allows for this use case
The specification PR is merged
**Additional context**
For RC-1 the CLI commands for Trust store and Trust Policy are not mandated.

- [x] https://github.com/notaryproject/notation-go/pull/39
- [ ] Plugin Trust store and Trust Policy in CI

[2021-10-11 15:56] iamsamirzon opened #46 "Local storage of Signatures"
**Summary**
The CLI will need access to a local storage
**Intended Outcome**
Notation CLI implementations allows for this use case
The specfication PR is merged
**Additional context**
Will update based on finalized design/spec in prior version of alpha release
The implementation work is in https://github.com/notaryproject/roadmap/issues/46
Specification work will be in https://github.com/notarypro

[2021-10-11 15:56] iamsamirzon opened #47 "E2E Automation Testing for CLI commands"
**Summary**
Automated Test Cases to be executed before every release
**Intended Outcome**
A test suite is created over time and added itertively over the lifetime of this project development
**Additional context**
Will update based on finalized design/spec in prior version of alpha release

[2021-10-19 00:15] #1 closed, assigned to nobody

[2021-10-19 01:14] iamsamirzon opened #48 "[User Story] Support Notation with Distribution 1.0 Spec Based Registries (Interop)"
As a user I want to sign and verify images stored in OCI 1.0 based registries that have not yet implemented the "referrers API"

**Summary**
     Fallback support for existing registries which haven't yet implemented the OCI artifact specification

**Intended Outcome**
   The specification PR is merged

**Additional context**
1. This  will require client tooling work for Notation.
2. This should n

[2021-11-02 01:18] SteveLasker commented on #15
@SteveLasker to capture details for:

- full offline artifact and signing for pushing to an air-gapped network
- tag update scenarios, where all the artifacts are prepped (image is created) then signed, without having to push to the registry
- a TSA may not be available, or a public TSA may not be available. A private TSA may be accessible from within the VNet
- verifying the signatures
- k8s on-n

[2021-11-03 14:17] sudo-bmitch commented on #15
For offline signing without a registry, I'd focus on [OCI Layout](https://github.com/opencontainers/image-spec/blob/main/image-layout.md). That's a format spec that's not tied to any specific vendor, and it's also supported as an output of builders like `docker buildx`.

[2021-11-03 15:10] shizhMSFT commented on #15
`containerd` also uses the OCI Layout, and its implementation is available at [github.com/containerd/containerd/content/local](https://github.com/containerd/containerd/tree/main/content/local).

As mentioned in the [HackMD doc](https://hackmd.io/D6l6ckAwT8CqAvQYoDKR-Q?view#Containerd-Integration), manifests are stored in the content store in the OCI Layout by the `containerd` so that we can find o

[2021-11-04 01:09] sudo-bmitch commented on #15
Does this mean the signing node must have containerd installed and running with the image loaded? What if I only have an OCI layout that's packaged as a tar+gzip and the signing node doesn't have containerd installed?

[2021-11-04 03:08] shizhMSFT commented on #15
We can have a tool too extract the gzipped tarball of the image in the OCI layout. The image manifest can be found via the `index.json` file. The issue becomes: Should the `notation` CLI integrate this tool?

[2021-11-04 09:44] shizhMSFT commented on #15
Precisely, an `index.json` in the OCI layout generated by `buildx` looks like
[code]
In this case, we can easily find the manifest for `registry.wabbit-networks.io/net-monitor:v1`, which is `sha256:14e07c4dd3870aeb39fc469fae3294733b15142cadfbfdef699811018da340d6`.

Then  we can do
[code]

[2021-11-04 14:32] sudo-bmitch commented on #15
I guess I'm just confused why we're referring to an implementation of the spec, rather than the spec itself. With the docker save format, that's understandable since it's a docker proprietary format without a formal spec. But if containerd and other tools are just implementing the OCI Layout spec, shouldn't we refer to that spec rather than a single vendor's implementation which that vendor could

[2021-11-04 17:01] SteveLasker commented on #15
I believe @shizhMSFT is saying we are aligning around the image layout. He was using docker save as an example and something we need to think about more as we're not limiting building or signing to the `docker` cli.
We can change the reference to the oci spec, although this is another instance where it living under the container image runtime is up for refactoring as well. There are some constrain

[2021-11-17 02:25] iamsamirzon commented on #17
With https://github.com/notaryproject/notaryproject/pull/107 merged, this roadmap item  is being closed as completed

[2021-11-17 02:25] #17 closed

[2021-11-17 02:45] iamsamirzon commented on #27
Renamed the Issue to make it symmetrical to the corresponding signing item https://github.com/notaryproject/roadmap/issues/26

[2021-11-17 02:56] iamsamirzon commented on #19
Question : Should Notation allow use of standard trust stores available on operating systems

[2022-01-12 00:18] iamsamirzon commented on #8
Part of PR : https://github.com/notaryproject/notaryproject/pull/122

[2022-01-12 00:19] iamsamirzon commented on #10
Part of https://github.com/notaryproject/notaryproject/pull/122

[2022-01-12 00:31] iamsamirzon commented on #37
Once the trust policy and trust stores are defined as part of (https://github.com/notaryproject/notaryproject/pull/122), we will revisit this roadmap item and then decide if we need to define policies and stores via CLI commands or leave them as JSON objects; This affects usability.

[2022-01-12 00:34] #21 closed

[2022-01-12 00:35] #14 closed

[2022-01-12 00:36] SteveLasker commented on #15
With the signing plugins, this is less of a notation default policy and implementation detail of the plugin.
Suggestion to close

[2022-01-12 00:48] #9 closed

[2022-01-12 00:48] iamsamirzon commented on #9
closing. Specification in https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md

Reviewed with Pritesh and Steve

[2022-01-12 18:24] iamsamirzon commented on #31
We should specify the default signing experience and how it is protected ( with a password etc).

[2022-01-12 18:35] iamsamirzon commented on #15
Offline signing is for signing images built locally and while those images have not yet been pushed to the registry. This is different from the plugins.

[2022-01-14 17:46] SteveLasker commented on #2
Adding
- https://github.com/notaryproject/notaryproject/issues/117
- https://github.com/notaryproject/notaryproject/issues/123

for reference in completing the format.

[2022-01-14 18:21] SteveLasker commented on #48
Requirements being captured here: https://hackmd.io/dwf12_dlTHacUDKFyGsOqw

[2022-01-14 18:49] SteveLasker opened #54 "HashiCorp Key Vault provider"
A number of customers that are cross cloud/on-prem have asked for a Hashi Corp Key Vault provider.
This would implement the [Signing plugin interface API Spec](https://github.com/notaryproject/roadmap/issues/26)

[2022-01-14 21:24] SteveLasker commented on #26
@gokarnm, can we convert this to a PR and see if we can get closure? I think we have enough to complete the Azure keyvault plug-in and hopefully implement a [hashicorp plug-in](https://github.com/notaryproject/roadmap/issues/54) as well.

[2022-01-19 01:00] iamsamirzon commented on #15
Moving out to alpha-3 as local signing/offline signing has dependencies on client software which needs more thought

[2022-01-19 01:32] sohailanjum97 opened #55 "Hashicorp Vault is not working properly (Uninitialized and Unsealed issue)"
Hi folks, I am trying to run vault on Minikube clustre running on my local machine in Virtual Box. I am following this documentation.
https://learn.hashicorp.com/tutorials/vault/kubernetes-minikube
The versions I am using now are mentioned in the pic:

![image](https://user-images.githubusercontent.com/48083468/150046043-37fdb680-34b9-4482-a441-0d21cee551b3.png)

The problem is mainly I have faced

[2022-01-25 05:28] priteshbandi commented on #18
https://github.com/notaryproject/notaryproject/pull/119

[2022-01-25 06:08] priteshbandi commented on #19
https://github.com/notaryproject/notaryproject/pull/122

Question : Should Notation allow use of standard trust stores available on operating systems

[2022-01-25 06:16] priteshbandi commented on #20
PR: notaryproject/notaryproject#122

[2022-01-25 06:22] priteshbandi commented on #20
Trust Anchor support: https://hackmd.io/iPBEpv-nSB2LZjTSfD-FBA

[2022-01-27 19:19] iamsamirzon opened #56 "Support for additional key types and hash algorithm (e.g SM2 PKE and SM3 hash)"

[2022-01-28 18:59] SteveLasker commented on #55
Hi @sohailanjum97,
Are you trying to use Hashicorp Vault with Notary v2? We have this working item for integration: #54.

[2022-02-04 22:28] iamsamirzon commented on #19
This related PR for public signature is part of the signature verification process. https://github.com/notaryproject/notaryproject/pull/132

[2022-02-04 22:41] iamsamirzon commented on #19
@SteveLasker  - This is ready to be closed now that https://github.com/notaryproject/notaryproject/pull/122 is merged.

[2022-02-04 22:42] iamsamirzon commented on #26
Waiting on this PR getting merged - https://github.com/notaryproject/notaryproject/pull/124 before we can close this roadmap item

[2022-02-04 22:43] iamsamirzon commented on #8
@SteveLasker   - This is ready to be closed because https://github.com/notaryproject/notaryproject/pull/122 is now merged

[2022-02-04 22:44] iamsamirzon commented on #10
@SteveLasker - This is ready to be closed because https://github.com/notaryproject/notaryproject/pull/122 is now merged

[2022-02-04 22:51] iamsamirzon commented on #20
@SteveLasker - This is ready to be closed because https://github.com/notaryproject/notaryproject/pull/122 is now merged

[2022-02-04 22:54] priteshbandi commented on #13
-

[2022-02-17 17:38] #19 closed

[2022-02-17 17:40] #8 closed

[2022-02-17 17:40] #10 closed

[2022-02-17 18:54] #20 closed, assigned to priteshbandi

[2022-02-22 01:31] iamsamirzon commented on #13
Ready to close this now that https://github.com/notaryproject/notaryproject/pull/136 is merged.

[2022-02-22 01:31] #13 closed

[2022-02-24 00:43] iamsamirzon commented on #18
This was addressed as part of https://github.com/notaryproject/notaryproject/pull/119

[2022-02-24 00:43] #18 closed

[2022-03-01 16:37] priteshbandi opened #58 "Include default named trust stores in notation."
As part of notation we would like to add publicly trusted codesigning roots as a named trust-store that can be readily used by consumers.

[2022-03-02 10:21] iamsamirzon opened #59 "Notation CLI support for Timestamp Authority signatures"
Summary - Notation client to support TSA signatures and verification support
Intended Outcome  - The implementation matches with the specification
Additional context

[2022-03-02 10:35] iamsamirzon commented on #11
This along with Signature revocation has been defined in the notaryproject specification already in Alpha-2. Refer https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md

Need to check what is remaining open in this

[2022-03-02 10:35] iamsamirzon commented on #12
This along with Certificate revocation has been defined in the notaryproject specification already in Alpha-2. Refer https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md

Need to check what is remaining open in this

[2022-03-02 10:38] iamsamirzon opened #60 "Notation CLI to support revocation verification"
Summary - Notation client to support Revocation verification for both signatures and certificates
Intended Outcome - The implementation matches with the specification
Additional context
Refer https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md for the specification

[2022-03-03 17:34] iamsamirzon opened #61 "[User Story] - Notation sign/verify Tag to Digest translation"
As a signer or verifier, I want to specify a tag and ensure there is a translation to the digest so that I can properly sign and verify images.

- [x] https://github.com/notaryproject/notation-go/issues/81
- [x] https://github.com/notaryproject/notation/issues/194
- [x] https://github.com/notaryproject/notation/issues/304
- [x] https://github.com/notaryproject/notation/issues/303
- [ ] Update docs

[2022-03-29 01:30] iamsamirzon commented on #58
Related to : https://github.com/notaryproject/notaryproject/issues/144

[2022-04-29 00:43] iamsamirzon commented on #5
Finalized in meeting on 4/28 to use the existing JWS format uses for Alpha-1 and Alpha-2 to be the RC-1 format. Need to update the spec, and then close this item

[2022-04-29 00:47] iamsamirzon commented on #6
Need to update the spec, so we can close this item. Documenting some of the minimum items we have agreed on in the past. These should go in the spec, and being documented here after discussing with the NV2 group on 4/28.
1. Format must be based on a standard.
2. Open source libraries that implement the standard.
3. 3rd party security reviews on the libraries completed and available in public domai

[2022-04-30 00:25] iamsamirzon commented on #6
Milind - Could you do a PR on this. Once merged,  I can close this and the related roadmap item https://github.com/notaryproject/roadmap/issues/5

[2022-04-30 00:26] iamsamirzon commented on #5
Milind - Could you do a PR on this. Once merged, I can close this and the related roadmap item https://github.com/notaryproject/roadmap/issues/6

[2022-04-30 00:29] iamsamirzon commented on #38
@SteveLasker , @gokarnm   - Based on the directory structure method of configuring trust store for Notation, I believe we can close  or defer this roadmap item as not needed/applicable for initial release. Let me know if you think otherwise.

[2022-05-06 00:54] iamsamirzon commented on #25
There were API support in alpha-1. Should we have a some, all or none of the APIs? We may end up having some Add/Remove commands for some of the areas but not all.

[2022-05-06 00:57] iamsamirzon commented on #25
We can close this, as this is the spec part, and just move with the implementation.

[2022-05-06 00:58] iamsamirzon commented on #43
Revisit later.

[2022-05-06 01:00] iamsamirzon commented on #37
@iamsamirzon  - assign this to < qmuntal> . Work has started on this already.

[2022-05-07 00:15] SteveLasker opened #74 "[User Story] notation inspect signatures"
As a user, I want to inspect signatures so that I can make a more informed decision to trust the signer and make it easy to start trusting them.

Notary v2 does not support Trust On First Use (TOFU), and only trusts artifacts that have been configured with trusted keys, which means users need a way to find the public key to place within their trust store.

## Scenario:

A user found a signed image

[2022-05-19 16:13] iamsamirzon commented on #45
This is being worked upon by @rgnote

[2022-05-19 16:17] iamsamirzon commented on #44
This is related to line #12 in the spreadsheet.

[2022-05-19 16:28] iamsamirzon commented on #46
Lets talk to @shizhMSFT  about this before deciding if this is needed for RC-1

[2022-05-19 16:30] dtzar commented on #36
https://github.com/notaryproject/notation/pull/171/files

[2022-05-19 16:33] iamsamirzon commented on #37
This item was to perform CRUD operations on  Keys/Certificates, Trust Store, Trust Policy. But for RC-1 we are taking a simpler approach and hence proposing we move this item beyond RC-1.

Making a decision in meeting on 5/19/2022.

[2022-05-19 16:34] iamsamirzon commented on #30
This item was to perform CRUD operations on Keys/Certificates, Trust Store, Trust Policy. But for RC-1 we are taking a simpler approach and hence proposing we move this item beyond RC-1.

Making a decision in meeting on 5/19/2022.

[2022-05-19 16:40] gokarnm commented on #32
Signing plugin spec defines `signature-generator` and `envelope-generature` interfaces. `signature-generator` implementation is complete, and `envelope-generature` is pending.

[2022-05-19 16:40] dtzar commented on #32
@qmuntal has already implemented 2/3 of the spec with https://github.com/notaryproject/notation/pull/168

[2022-05-19 17:00] iamsamirzon commented on #23
Being addressed as part of implementation going on at this time.

Decided on 5/19/2022 NV2 meeting

[2022-05-19 17:00] #23 closed

[2022-05-19 17:00] iamsamirzon commented on #24
Being addressed as part of implementation going on at this time.

Decided on 5/19/2022 NV2 meeting

[2022-05-19 17:00] #24 closed

[2022-05-19 17:03] iamsamirzon commented on #31
Part of "E2E signing workflow with local keys" in the spreadsheet.  This is the implementation part

[2022-05-23 01:30] iamsamirzon opened #62 "repository"

[2022-05-23 01:54] #62 closed

[2022-05-26 16:38] iamsamirzon commented on #5
Will close this roadmap item, when this PR is merged : https://github.com/notaryproject/notaryproject/pull/158

[2022-05-26 16:42] iamsamirzon commented on #35
Unit test cases for APIs are being done as APIs are being implemented.

[2022-05-26 16:46] iamsamirzon commented on #34
@SteveLasker  - Is this needed for RC-2 or beyond?

[2022-05-26 16:48] iamsamirzon commented on #48
@SteveLasker  - Is this needed for RC-2 or beyond?

[2022-05-26 22:53] iamsamirzon opened #63 "End to End Test Case for APIs"
**Summary**
Automated Test Cases to be executed before every release for all APIs
**Intended Outcome**
A test suite is created over time and added iteratively over the lifetime of this project development
**Additional context**
The unit testing will be included in RC-1.  The community met on 5/26 and made the decision to split this work as unit and end to end testing.

[2022-06-01 01:02] iamsamirzon commented on #61
@SteveLasker  - This is the one we were thinking of pushing out of RC-1.

[2022-06-08 23:40] dtzar commented on #63
Migrated to https://github.com/notaryproject/notation-go/issues/52

[2022-06-08 23:42] dtzar commented on #61
Migrate to https://github.com/notaryproject/notation/issues/194

[2022-06-09 00:09] SteveLasker commented on #61
`notation sign registry.wabbitnetworks.io/net-monitor:v1` is already implemented to convert `:v1` to a digest and sign the digest.
If the ask is to change the behavior to requiring a `--force` flag, I'm not sure what that really does to change the behavior.
If the step in the workflow only has a tag, how would the user get the digest for the tag? How is that any different than passing in the tag a

[2022-06-16 16:33] iamsamirzon commented on #59
@FeynmanZhou - We discussed this in our NV2 community meeting today. Propose we include the "Sign" part in RC-1 and the "Verify" part of it can come in "RC-2". Do discuss with @shizhMSFT  on it.

[2022-06-20 14:04] FeynmanZhou commented on #59
@iamsamirzon
It looks like Notation CLI has supported timestamp, see https://github.com/notaryproject/notation/pull/171/files#diff-4f0565caf9b5f059f3b256722911a83386beb3d5c0dc75b30b6fc91d451e551cR65

[2022-06-20 14:44] iamsamirzon commented on #59
Yes, there was support added back in Alpha-1. This roadmap item is to ensure the implementation ( along with tests) meets the agreed on spec

[2022-06-20 14:49] FeynmanZhou commented on #59
Okay, we need to verify it for the next step.

[2022-06-20 18:26] gokarnm commented on #59
There are open questions and work related to
* The default TSA to use during signing
* Distribute public TSA roots in a default named trust store `x509/tsa/public-tsa`
* Improvements to custom CMS verification code for TSA verification

[2022-06-23 01:40] yizha1 commented on #31
Hi,

The remaining work for this issue is to support encrypted local key, however, due to lack of go library and limited dev capacity, the proposal is to move this issue out of RC1 scope.

It is also proposed to keep the support of signing with local key, which was implemented as first part of this issue. If this function is removed, user need to set up Key Vault or KMS environment in order to try

[2022-06-23 16:20] iamsamirzon commented on #61
@gokarnm - Could you capture your concern about including "tag to digest" capability with our without the "force" flag as described above by @SteveLasker . Are you recommending we not include this capability at all for RC-1 ? Could you point out the threat model here if we ship with this capability here?

[2022-06-23 16:24] iamsamirzon commented on #5
With the above merged. I am ok with closing it.  Discussed in the NV2 meeting on 6/23 with @dtzar , @iamsamirzon , @roywell

[2022-06-23 16:24] #5 closed

[2022-06-28 00:56] iamsamirzon commented on #31
@roywill  - @gokarnm  suggestion is to maintain the test certificate generation for RC-1 that allows users to test locally.  https://github.com/notaryproject/notation/blob/main/docs/hello-signing.md#signing-a-container-image

[2022-06-30 00:06] dtzar commented on #61
@iamsamirzon Closing since this is now on the RC-1 roadmap - issue linked above.

[2022-06-30 00:10] dtzar commented on #35
Per our conversation in previous calls, this is not until RC-2 timeline.  There are separate issue(s) here, but would have to look them up.

[2022-07-06 05:22] gokarnm commented on #27
Addressed in this [PR](https://github.com/notaryproject/notaryproject/pull/165).

[2022-07-11 22:46] dtzar commented on #40
This is replaced by https://github.com/notaryproject/notation/issues/227

[2022-07-12 17:57] iamsamirzon commented on #40
@dtzar - I suggest we reopen it and close it after the actual work is completed in Notation.

[2022-07-12 17:59] iamsamirzon commented on #61
@dtzar - I suggest we reopen it and close it after the actual work is completed in Notation.

[2022-07-12 21:01] dtzar commented on #40
Reopening until we potentially land on something other than roadmap.
https://github.com/notaryproject/notaryproject/issues/104

[2022-07-12 21:01] dtzar commented on #61
Reopening until we potentially land on something other than roadmap.
https://github.com/notaryproject/notaryproject/issues/104

[2022-07-13 14:58] iamsamirzon commented on #61
Thanks @dtzar - I have moved it back in the "To do" column in the project board.

[2022-07-13 15:23] iamsamirzon commented on #33
@gokarnm - Is this covered as part of the Signing Plugin implementation?

[2022-07-13 16:26] iamsamirzon commented on #11
Link to the current specification : https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md#certificate-revocation-evaluation

[2022-07-13 16:41] iamsamirzon commented on #26
https://github.com/notaryproject/notaryproject/commits/main/specs/plugin-extensibility.md

[2022-07-13 16:42] iamsamirzon commented on #2
@dtzar - This can be closed in our next NV2 meeting for RC-1 as well. The work was done as part of PR https://github.com/notaryproject/notaryproject/pull/158

[2022-07-13 16:43] iamsamirzon commented on #3
@dtzar  - This one can also be closed for alpha-3/RC-1 milestone. The work is completed as part of PR https://github.com/notaryproject/notaryproject/pull/158

[2022-07-13 16:48] iamsamirzon commented on #4
@dtzar , this is ready to be closed for alpha-3 as well. The work was completed as part of PR [158](https://github.com/notaryproject/notaryproject/pull/158)

https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#faq

[2022-07-13 16:57] iamsamirzon commented on #28
@dtzar  - This item is close to completion.  Most of the work has been completed as part of https://github.com/notaryproject/notation/pull/234.

The following implementation PR need merging for us to close this item.
- https://github.com/notaryproject/notation-core-go/pull/17

[2022-07-13 17:04] iamsamirzon commented on #29
@dtzar   -There are three interlinked items here. We are close to completion on this roadmap item.
1. Basic verification in progress -https://github.com/notaryproject/notation-core-go/pull/7
2. Verification extensibility - ongoing discussions in the community
3. Trust store and trust policy - being tracked seprately.

[2022-07-13 17:11] iamsamirzon commented on #41
@dtzar  = This implementation work is blocked on the CLI spec ( https://github.com/notaryproject/roadmap/issues/36) being finalized for RC-1
@shizhMSFT  - Assigning this to you to align with the allocation in the spreadsheet.

[2022-07-13 19:16] iamsamirzon commented on #45
@dtzar  - This is ready to be closed. There are multiple PRs where this was implemented. Find links to the code below.
https://github.com/notaryproject/notation-go/blob/main/verification/policy.go
https://github.com/notaryproject/notation-go/blob/main/verification/store.go

[2022-07-13 19:25] iamsamirzon commented on #32
@dtzar - I believe we are ready to close this roadmap item.
The "envelope-generator" code is completed.
- https://github.com/notaryproject/notation-go/blob/main/signature/plugin.go#L161

Here is the code implementation for the signing plugin.
- https://github.com/notaryproject/notation-go/tree/main/plugin

[2022-07-13 19:40] iamsamirzon commented on #31
This is related to https://github.com/notaryproject/roadmap/issues/44

[2022-07-13 19:52] iamsamirzon commented on #59
@shizhMSFT , @dtzar  - We need to bring in the signing part back into RC-1. This item is not yet complete for RC-1.

[2022-07-13 21:16] dtzar commented on #59
Looks like this work could be included in whomever implements https://github.com/notaryproject/notation-go/issues/78
I would recommend putting the three bullets from @gokarnm above either into that issue or a separate issue(s) depending on the rough size of the work to be done.

[2022-07-13 21:17] dtzar commented on #59
This issue also relevant to the completion of this item: https://github.com/notaryproject/notation-go/issues/13

[2022-07-13 21:19] #32 closed, assigned to qmuntal

[2022-07-13 21:27] dtzar commented on #3
LGTM to close as well.

[2022-07-13 21:29] dtzar commented on #26
LGTM to close as well.

[2022-07-13 23:26] iamsamirzon commented on #59
@dtzar  - There was an item in the spreadsheet for this , row #22. It is marked green ( to indicate complete), but it is not. @shizhMSFT  team was looking to implement this. Lets touch base on this with them

[2022-07-13 23:55] gokarnm commented on #46
- What happens when signatures get deleted in repo?
- What happens when new signature are associated with artifact, will they be pulled?

[2022-07-14 16:36] #3 closed

[2022-07-14 16:37] #4 closed

[2022-07-14 16:37] #26 closed

[2022-07-15 21:30] iamsamirzon commented on #61
We need to define the CLI Spec to ensure the experience is  agreed on what  users will have to do.

[2022-07-22 01:32] dtzar commented on #35
@iamsamirzon I believe this is now complete with your scope of Unit test per: https://github.com/notaryproject/notation/issues/197

[2022-07-25 09:17] shizhMSFT commented on #59
As discussed in previous Notary community meetings, we will not provide a default TSA for signing. Users must specify their trusted TSA when signing.

This item is a successor of distributing roots for `x509/ca/...`.

We need more clarification on the "improvements".

[2022-07-25 14:33] iamsamirzon commented on #59
@gokarnm , @rgnote - Could you elaborate on the "improvements" https://github.com/notaryproject/roadmap/issues/59#issuecomment-1160734080

[2022-07-28 16:53] dtzar commented on #35
Closing on call with Samir 7/28

[2022-07-28 16:53] #35 closed

[2022-07-28 16:55] dtzar commented on #2
The JWS format is complete.  The COSE format is tracked in separate issues as listed above.  Closing on call with Samir 7/28

[2022-07-28 16:55] #2 closed

[2022-07-28 16:56] #27 closed

[2022-07-28 16:59] dtzar commented on #29
Closing with Samir on call 7/28

[2022-07-28 16:59] #29 closed

[2022-08-02 19:14] dtzar commented on #36
@iamsamirzon The problem with this issue as well as 41 is that is too generic and doesn't demonstrate specific user value.  notation has many sub-commands and we know many of them are not necessarily in scope for improvement/enhancement in even RC-1.

My suggestion would be to close issues like this out and just migrate over the [user stories we have in the notation repository](https://github.com/

[2022-08-03 00:25] iamsamirzon commented on #36
@dtzar - I am ok with closing this one as we discussed in the 8/1/2022 Notary V2 meeting. As for https://github.com/notaryproject/roadmap/issues/41 , I think we can repurpose it and convert this into a user story/CLI command specification and implementation for the "Notation verify".

[2022-08-03 00:33] #36 closed

[2022-08-03 20:27] iamsamirzon commented on #38
@dtzar  - I am marking this for our "discuss" milestone, as this is not a blocking experience for RC-1.

[2022-08-03 20:29] iamsamirzon commented on #7
@yizha1  - I am marking COSE support as a "discuss" milestone item. We anyways have this other COSE item (https://github.com/notaryproject/notaryproject/issues/117) in "discuss" milestone, lets track this roadmap item there until the maintainers can agree on which release it should come in.

[2022-08-03 22:23] dtzar commented on #61
@iamsamirzon @gokarnm @yizha1 - Per what Steve says above, I'm still unsure of what is missing in implementation since today as I understand it - if you specify a tag, we translate it and sign a digest.

As a related side note I do believe we need to have a better experience than spitting out the SHA/digest after a sign/verify so they have more details as to what they're signing.

[2022-08-04 21:07] iamsamirzon commented on #61
@dtzar  - What's missing is the agreed on spec on what we want as the behavior for translation from tag to digest translation. If we agree on the spec, and then the current implementation matches the spec we agree to, then we can say no work is required

As an example, if at some point, we want to natively support "Tag signing" ( Refer #16 and https://github.com/notaryproject/notaryproject/issues/

[2022-08-05 19:02] dtzar commented on #43
Replacing this with https://github.com/notaryproject/notaryproject/issues/182

[2022-08-05 19:02] #43 closed

[2022-08-05 19:04] dtzar commented on #42
Replaced with https://github.com/notaryproject/notation/issues/283

[2022-08-05 19:04] #42 closed

[2022-08-05 19:04] dtzar commented on #46
Closing as duplicate of https://github.com/notaryproject/roadmap/issues/15

[2022-08-05 20:40] dtzar commented on #34
This feels like a duplicate of the local signing user story.  Once you have this - local machine/agent CI/CD becomes possible.

[2022-08-08 18:17] iamsamirzon commented on #46
@dtzar - I disagree. This item is not a duplicate of #15. They are related, as #15 may require the capability identified in this item, but the capability itself can be used even in "remote signing" ( aka signing an image that is already present in an OCI repository)

Lets talk to @shizhMSFT  if he sees a use case for defining and implementing local storage of signatures outside of "local signing"

[2022-08-08 19:52] dtzar commented on #46
Ah, I see sorry.  Makes sense "local storage of a signature" versus "local signing" if we think there is enough difference which might need to be implemented.  I feel like "local storage of a signature" was just a natural thing which needed to happen for "local signing".

[2022-08-09 21:49] #28 closed

[2022-08-22 16:37] FeynmanZhou commented on #47
Hi @iamsamirzon ,

I assume this issue is requesting E2E testing for Notation CLI. We [investigated the Golang-native E2E test framework in ORAS CLI](https://github.com/oras-project/oras/discussions/485) and finally chose ginkgo+gomega.

We can reuse the same E2E test framework and solution in Notation CLI. How about transferring this issue to the Notation repo?

[2022-08-22 19:35] iamsamirzon commented on #47
@FeynmanZhou - Yes, this is for the end to end testing of Notation CLI workflows. I suggest you leave this issue as is here, in the roadmap repo, but covert it into a "User Story" format. And then link it to the new issue/PR you create in "notation" to actually implement it. As I think, this issue here will become an epic with multiple end to end test cases implemented inside "notation" repo that

[2022-08-24 14:28] dtzar commented on #47
We would have the user story here, but the actual work items in notation repo.

[2022-08-30 05:24] yizha1 commented on #7
@iamsamirzon  As discussed in today's meeting, how about changing the milestone from "Discuss" to "rc.1" for this user story?

[2022-09-01 12:07] yizha1 commented on #7
Change milestone to rc.1 according to the discussion on community call on Aug 29. The COSE implementation is done in a separate cose branch and is now being merged back into the main branch.

[2022-09-02 13:42] yizha1 commented on #41
Covered by issue #38 as well

[2022-09-02 14:03] iamsamirzon commented on #38
@yizha1  - I think once we have the effort/scope done for the additional CLI work for trust store and trust policy, then we can make a decision of delaying or including.

[2022-09-02 14:08] iamsamirzon commented on #41
@yizha1  - #38 is related, but we need to separately track them. This item focusses on the experience of using the "Verify" workflow/command.  The #38 is for how we configure the pre-requisite of trust store and trust policy.

cc: @vaninrao10

[2022-09-08 16:25] dtzar commented on #47
Per the community call today, it would be good to have minimal E2E test coverage for RC.1 - such as for sign and verify workflow - and expand on this after.

[2022-09-10 12:23] yizha1 commented on #38
@iamsamirzon  as discussed in the community call, could you split this user story to two, one for trust store and one for trust policy.

[2022-09-12 23:22] iamsamirzon commented on #38
@iamsamirzon  modified this issue for just the trust store requirement,. Trust policy will be handled by #39 ( as suggested by @yizha1 )

[2022-09-12 23:24] iamsamirzon commented on #39
Moving this story to discuss milestone.

[2022-09-20 01:12] iamsamirzon commented on #38
During the 9/19 meeting, feedback was directly given for this CLI command proposal from Yi. https://hackmd.io/V-0Nhl4mT7Sa0NPiCVgMlQ?both

[2022-09-22 23:58] dtzar opened #66 "Create automated release via GH Action which requires approvals"
The desire is to have notation, notation-go, and notation-core-go be released in an automated fashion which also requires two approver maintainers for official releases (not dev builds on notation).

Today we release notation via a GitHub workflow with go-releaser, but notation-go and notation-core-go are released manually.

I propose that we utilize [GitHub environment approval gates](https://doc

[2022-09-22 23:58] dtzar commented on #66
@gokarnm - FYI since you requested.

[2022-09-23 00:29] iamsamirzon commented on #66
Thanks @dtzar  for proposing this. LGTM
cc: @vaninrao10

[2022-09-23 03:21] yizha1 commented on #7
The work done in cose branch will be merged to main by several PRs

[2022-09-27 21:56] vaninrao10 commented on #45
Need to re-open the story

[2022-10-01 13:26] yizha1 commented on #39
@vaninrao10 I remember the decision is that `Trust policy` CLI is not in RC-1, but `Trust store` CLI is in RC-1 scope. @dtzar

[2022-10-01 13:38] yizha1 commented on #38
PR created for Trust store CLI spec https://github.com/notaryproject/notation/pull/361

[2022-10-12 23:12] priteshbandi commented on #45
Pending tasks:

- [ ] Plugin Trust store and Trust Policy in CI
- [ ] Print verification output for logged level of TP

[2022-10-13 07:36] JeyJeyGao commented on #47
I will work on this task.

[2022-10-13 16:07] dtzar commented on #39
Discussed on community call with Vani - this should be in RC-2.

[2022-10-13 16:46] dtzar commented on #61
Per community call today, converting this to implementing the UX experiences so people understand what it is that they signed or verified.  We already today do the tag to digest translation for sign and verify.  However, people have no confirmation of what they signed or verified with what certificate(s).

We also need to do a pass on the documentation to ensure this is properly reflected.

[2022-10-19 04:47] yizha1 commented on #15
I see different combinations here:

No. | Key | Artifact | Signature | Milestone
-- | -- | -- | -- | --
1 |Local | Local | Local |  
2 | Local | Remote | Remote |  
3 |Remote | Local | Local |  
4 |Remote | Remote | Remote | RC.1

I suggest we move task #44 out of the scope of this user story, which means this user story focuses on signing/verifying local artifacts/signatures.

@dtzar @shizhMSFT @

[2022-10-19 18:27] iamsamirzon opened #67 "[User Story] As a user I want to include user provided metadata at time of signing and have it available for verification"
As a user, I want to include metadata that I can provide at time of signing. This data should be signed as well ( in addition to the image manifest) and be available for verification.

When verifying signatures, ( At build, deploy or run time) I want to get a list of the signed metadata included with the signature and use it evaluate additional decisions before using the signed image.

Intended ou

[2022-10-19 23:39] SteveLasker commented on #15
No. 2 works today, for getting started purposes, and could be supported in RC.1
No. 1 and No. 3 could be done later, although I'm hearing concerns about refactoring that would imply breaking changes to notation-go.

Can we agree to get No. 2 and No. 4 out, then add the others?

[2022-10-20 02:51] iamsamirzon commented on #15
For #2, how do we make it clear that it is not recommended for production, and is only for demo/testing purpose. Will adding Warnings be enough? Should we still add a way to encrypt the key Vs keeping it in plain text?

[2022-10-20 16:49] dtzar commented on #15
Discussed this on the community call 10/20.  I think it's ok to do 2 & 4 for RC-1 and add 1/3 later.

For the warning - putting something in the release notes and perhaps a warning message when someone signs.  It's not that option 2 is invalid, it's that it has a security risk/concern.  This risk/security concern should be spelled out in more detail for the release IMO.

I do think we should enabl

[2022-11-03 19:38] vaninrao10 commented on #66
Can this be moved to RC-2 ?

[2022-11-03 21:33] dtzar commented on #66
Fine by me/MSFT - it was requested in RC-1 by Milind.

[2022-11-04 01:32] yizha1 commented on #47
The E2E testing work is on hold for two reasons:
- Prioritize the refactoring work
- The framework itself needs to be improved, we can leverage the ongoing work in ORAS project later.

@dtzar @toddysm @vaninrao10 @shizhMSFT

[2022-11-04 12:18] yizha1 commented on #7
Close as completed.

[2022-11-04 12:18] #7 closed

[2022-11-04 12:19] yizha1 commented on #41
Close as completed.

[2022-11-04 12:19] #41 closed

[2022-11-04 12:19] yizha1 commented on #40
Close as completed.

[2022-11-04 12:19] #40 closed

[2022-11-04 12:19] yizha1 commented on #38
Close as completed.

[2022-11-04 12:19] #38 closed

[2022-11-09 06:56] yizha1 commented on #66
Confirmed to move this issue out of rc-1 scope. Now moved to "Discuss". We will review all the issues later for rc-2 release scope.

[2022-11-21 06:35] yizha1 commented on #48
Maybe this roadmap issue should be changed to "OCI artifact manifest" support

[2022-11-22 03:37] yizha1 commented on #47
updated to rc.2 per discussion.

[2022-11-22 07:37] yizha1 commented on #34
@iamsamirzon @vaninrao10 Could you check above comments to confirm whether it is duplicated with local signing. If yes, then we can close it. If not, we'd better make it more specific.

[2022-11-22 07:46] yizha1 commented on #63
This is actually API testing and was closed by `notation-go` refactoring, which is duplicated with https://github.com/notaryproject/notation-go/issues/52

[2022-11-22 23:20] iamsamirzon commented on #34
@yizha1   - Could you point me to the issue you think this issue is a duplicate of?

[2022-11-23 07:49] yizha1 commented on #34
@iamsamirzon  according to the description of this issue, it is for local signing.
"
The first Alpha release implementation relies on image already in registry; This item is to Sign before push; and then push image, signature, and tag up to the registry;
"

However, we have https://github.com/notaryproject/roadmap/issues/15 for local signing.

[2022-11-23 17:46] iamsamirzon commented on #34
Thanks @yizha1 . if you referring to use case 1 and 3 as called out in the comment below, then I agree. https://github.com/notaryproject/roadmap/issues/15#issuecomment-1283421971

[2022-11-23 18:24] priteshbandi commented on #33
This has already been completed as part of https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md

[2022-11-23 18:24] vaninrao10 commented on #33
This has already been completed as part of https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md

[2022-11-23 18:24] #33 closed

[2022-11-23 21:02] priteshbandi commented on #37
* https://github.com/notaryproject/roadmap/issues/39

[2022-11-30 20:13] iamsamirzon commented on #48
Closing this item, as the work for OCI 1.1 based registries is already completed after we brought in the latest ORAS-go client into notation that supports OCI 1.1 based registry candidate spec. The support for "Fallback" will come in via this open issue - https://github.com/notaryproject/notation/issues/444

cc: @vaninrao10 , @SteveLasker , @yizha1 , @dtzar